/* ----MAIN---- */

#main-box {
  box-sizing: border-box;
}

#main-image {
  width: 100%;
  object-fit: cover;
}

.introduction-box {
  visibility: hidden;
}

.introduction-box > p {
  width: 80%;
}

#slide {
  width: 60%;
  margin-left: 10rem;
  margin-bottom: 2rem;
  visibility: visible;
}
