/* ----MAIN---- */

#main-box {
  box-sizing: border-box;
}

#main-image {
  width: 100%;
  object-fit: cover;
}

.introduction-box {
  width: 60%;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.introduction-box > p {
  width: 80%;
}

@media (max-width: 800px) {
  .introduction-box {
    width: 100%;
    margin-left: 2rem;
    margin-bottom: 0;
  }
}
